<ul>

        <li>
                <a  ng-class="isMenuActive('createEmail')" href="#createEmail"> <i class="fa fa-file-image-o"></i> Compose Email
                </a>
            </li>

            <li >
                    <a ng-class="isMenuActive('viewCreateEmail')" href="#viewCreateEmail"> <i class="fa fa-file-image-o"></i> View Email
                    </a>
                </li>

        <li>
                <a  ng-class="isMenuActive('emailBuilder')" href="#emailBuilder"> <i class="fa fa-file-image-o"></i> Create Templates
                </a>
            </li>
            <li>
                <a  ng-class="isMenuActive('viewTemplates')" href="#viewTemplates">
                    <i class="fa fa-list-alt"></i>
                    View Templates
                </a>
            </li>

            <li>
                    <a ng-class="isMenuActive('createCampaign')" href="#createCampaign"> <i class="fa fa-file-image-o"></i> Create Campaign
                    </a>
                </li>

                <li>
                        <a ng-class="isMenuActive('viewCampaign')" href="#viewCampaign"> <i class="fa fa-list-alt"></i> View Campaigns
                        </a>
                    </li>

</ul>