<ul>

    <!-- <li>
                <a  ng-class="isMenuActive('createEmail')" href="#createEmail"> <i class="fa fa-file-image-o"></i> Compose Email
                </a>
            </li> -->

    <li>
        <a ng-class="isMenuActive('email')" href="#viewCreateEmail/email" >
            <i class="fa fa-file-image-o"></i> Email
        </a>
    </li>

    <!-- <li>
        <a ng-class="isMenuActive('emailBuilder')" href="#emailBuilder">
            <i class="fa fa-file-image-o"></i> Create Templates
        </a>
    </li> -->
    <li>
        <a ng-class="isMenuActive('templates')" href="#viewTemplates/templates">
            <i class="fa fa-list-alt"></i>
            Templates
        </a>
    </li>

    <!-- <li>
        <a ng-class="isMenuActive('createCampaign')" href="#createCampaign">
            <i class="fa fa-file-image-o"></i> Create Campaign
        </a>
    </li> -->

    <li>
        <a ng-class="isMenuActive('Campaign')" href="#view/Campaign">
            <i class="fa fa-list-alt"></i> Campaigns
        </a>
    </li>

</ul>