<div id="ribbon">
    <ul class="marN innerN">
    <li class="breadcrumb-first">
              <!-- <a href="http://dev2.shopslick.com/client/">Home</a> -->
            <a href="#view/Campaign">
                      
                        <span>Campaign</span>
                        <i class="fa fa-angle-right ribbon-arrow"></i>
                    </a></li> 
              
            <li><span>View Campaign</span></li>
    </ul>
    </div>
  
  <div class="view-template-list no-bor">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marT10 marB10 fl innerN">
          <a class="btn btn-primary" ng-class="isMenuActive('templates')" href="#create/Campaign">Create Campaign</a>
  </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 marT10 marB10 fr innerN">
                <input class="form-control f12" type="text" placeholder="Search.." ng-model="templateSearch">
        </div>
    <div class="table-responsive">
            <table class="table marN">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Campaign</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>End Date</th>
                  <th>User</th>
                  <th>Date Created</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <label class="check_box pull-left" >
                        <input type="checkbox" name="giftable">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  <td>Campign Test</td>
                  <td>Planing</td>
                  <td>Email</td>
                  <td>test</td>
                  <td>Will</td>
                  <td>2018-06-22 17:24:36	</td>
                  <td><a class="fa fa-pencil c-pointer" href="#viewCampaign"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    
        </div>